* {
  margin: 0;
  padding: 0;
}

.side-ul li a {
  color: white !important;
}

.side-ul li a p {
  margin-left: 10px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #ca629d !important;
}

.nav-pills .nav-link:hover,
.nav-pills .show > .nav-link {
  background-color: #ffffff37 !important;
}

/* .main-footer {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem;
  position: fixed;
  z-index: 111;
  bottom: 0;
  right: 0;
  left: 0;
} */

.form-dlt-btn:hover {
  background-color: #007bff !important;
  transition: 0.3s all;
}

.breadcrumb-item a {
  color: #256f98 !important;
}

.form-btn:hover {
  background-color: rgb(23, 162, 184) !important;
  transition: 0.3s;
}

.form-btn:hover span {
  color: white !important;
}

.form-btn-dlt:hover {
  background-color: red !important;
  transition: 0.3s;
}

.form-btn-dlt:hover span {
  color: white !important;
}
